@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
/* Обнуление стилей */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ol, ul {
  list-style: none;
}

input, button, textarea, select {
  font: inherit;
}

body{
	background-color: #000000;
	font-family: "Roboto", sans-serif;
	overflow-x: hidden;
}

.container-header{
	max-width: 1300px;
	padding: 0 20px;
	margin: 0 auto;
}

.container{
	max-width: 1200px;
	padding: 0 20px;
	margin: 0 auto;
}


/* header */
.header {
	display: flex;
	justify-content: space-between;
	margin-top: 16px;
	margin-bottom: 100px;
	&__logo {
		cursor: pointer;
	}

	@media(max-width:700px){
		&__menu {
			display: none;
		}
}
.header-menu {

	&__list {
		display: flex;
		font-weight: 600;
		font-size: 15px;
		li:not(:last-child){
			margin-right: 2px;
		}
	}
	&__link {
		color: #fff;
		border-radius: 8px;
		padding: 6px 16px;
		transition: all 0.3s;
		
		&:hover{
			background: #ffff;
			color: #000;
		}
		&:active{
			background: #8b8787;
			color: #000;
		}
	}

	@media(max-width:770px){
		&__link {
			padding: 6px 10px;
		}
	}
}
}
// burger-menu
.burger-menu {
	width: 30px;
	height: 20px;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
	display: none;
	position: relative;
	z-index: 1;
 }
 
 @media(max-width:700px){
	.burger-menu{
		display: flex;
	}
}

 .bar {
	width: 100%;
	height: 3px;
	background-color: #ffffff;
	transition: transform 0.3s ease;
 }
 
 .burger-menu.open .bar:nth-child(1) {
	transform: translateY(7px) rotate(45deg);
 }
 
 .burger-menu.open .bar:nth-child(2) {
	opacity: 0;
 }
 
 .burger-menu.open .bar:nth-child(3) {
	transform: translateY(-7px) rotate(-45deg);
 }

//  mobile menu 
 .mobile-menu {
	display: none;
	position: fixed;
	top: 60px;
	left: 1000px; 
	width: 200px;
	height: 100%;
	transition: all 0.3s ease;
	background-color: #000;
	width: 100%;
	&__list {
		font-weight: 600;
		font-size: 20px;
	}
	&__item{
		margin-bottom: 10px;
	}
	&__link {
		color: #fff;
		padding: 6px 16px;

		&:active{
			background: #8b8787;
			color: #000;
		}
	}

	@media(max-width:700px){
		&{
			display: block;
		}
	}
}

.burger-menu.open + .mobile-menu {
	left: 0; /* open the menu by sliding it to the right */
 }



//  main
.main {
	margin-bottom: 134px;
	&__wrapper {
		display: flex;
	}

	&__content {
		max-width: 603px;
	}

	&__title {
		font-weight: 600;
		font-size: 100px;
		line-height: 100%;
		color: #fff;
		margin-bottom: 36px;
	}

	&__subtitle {
		font-weight: 400;
		font-size: 32px;
		color: rgba(255, 255, 255, 0.6);
		margin-bottom: 48px;
	}

	&__btn {
		cursor: pointer;
		font-weight: 600;
		font-size: 40px;
		text-align: center;
		color: #fff;
		border-radius: 23px;
		padding: 20px 50px 24px 50px;
		width: 289px;
		height: 100px;
		background: #ff559c;
		transition: all 0.3s;
		&:hover{
			background: #f976ad;
		}
		&:active{
			background: #8b395c;
		}
	}

	&__img {
		width: 100%;
		img{
			width: 100%;
			height: 100%;
		}
	}
	@media(max-width:1200px){
		&__title {
			font-weight: 600;
			font-size: 80px;
			line-height: 100%;
			color: #fff;
			margin-bottom: 36px;
		}
	
		&__btn {
			font-size: 30px;
		}
	}
	@media(max-width:900px){
		&__wrapper {
			flex-wrap: wrap;
			justify-content: center;
		}
		&__title {
			text-align: center;
		}
	
		&__subtitle {
			text-align: center;
		
		}
	
		&__btn {
			display: block;
			margin: 0 auto;	
			margin-bottom: 20px;
		}
	
	
	}
	@media(max-width:600px){
		&__wrapper {
			flex-wrap: wrap;
			justify-content: center;
		}
		&__title {
			font-size: 48px;
		}
	
		&__subtitle {
		font-size: 16px;
		
		}
	
		&__btn {
			padding: 30px 40px;
		font-size: 24px;
		}
	
	
	}
}

// features
.features {
	margin-bottom: 180px;
	&__wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-row: 500px 500px ;
		gap: 32px;
	}

	&__item {
		border-radius: 48px;
	}
	@media(max-width: 950px){
		&__wrapper{
			grid-template-columns: 1fr;
		}
	}
}

.features-upload {
	grid-column: span 2;
	background: linear-gradient(180deg, #7aefff 0%, #7affbf 100%);
	padding-top: 77px;
	padding-left: 24px;
	padding-right: 24px;
	text-align: center;
	overflow: hidden;
	&__content {
		max-width: 900px;
		margin: 0 auto;
	}

	&__title {
		font-size: 80px;
		line-height: 110%;
		text-align: center;
		margin-bottom: 16px;
	}

	&__subtitle {
		font-size: 24px;
		line-height: 133%;
		text-align: center;
		color: #1b1a1a;
		margin-bottom: 88px;
	}

	&__img {
		max-width: 1087px;
		margin-left: auto;
		margin-right: -24px;
		margin-bottom: -4px;
		img{
			width: 100%;
			height: 100%;
		}
	}
	@media(max-width: 950px){
		grid-column: span 1;
	}
	@media(max-width: 700px){
		&__title{
			font-size: 60px;
			line-height: 120%;
		}
		&__subtitle{
			font-size: 26px;
			line-height: 150%;
			margin-bottom: 60px;
		}
	}
	@media(max-width: 550px){
		&__title{
			font-size: 40px;

		}
		&__subtitle{
			font-size: 16px;
		}
	}
}
.features-types {
	background: #ff8db6;
	padding: 48px 48px 0 48px;
	&__content{
		max-width: 390px;
	}
	&__title {
		font-size: 56px;
		line-height: 114%;
		margin-bottom: 24px;
	}

	&__subtitle {
		font-size: 24px;
		line-height: 133%;
		color: #1b1a1a;
	}
	&__img{
		margin-left: -70px;
		margin-bottom: -67px;
		img{
			width: 100%;
			height: 100%;
		}
	}
	@media(max-width: 950px){
	&__content{
		margin: 0 auto;
		max-width: 100%;
		text-align: center;
	}
	}
	@media(max-width: 550px){
		&__title{
			font-size: 32px;

		}
		&__subtitle{
			font-size: 16px;
		}
	}
}
.features-professional-accountant {
	background: #8be2ee;
	padding: 48px;
	
	&__img{
		position: relative;
		margin-bottom: 47px;
		max-width: 307px;
		width: 100%;
		margin: 0 auto;
		img{
			width: 100%;
			height: 100%;
		}
	}
	&__img-person{

	}
	&__img-message{
		position: absolute;
		top: -125px;
		left: -78px;
		opacity: 0;
		transition: all 0.5s;
	}
	&__content{
		max-width: 460px;
	}
	&__title {
		font-size: 56px;
		line-height: 114%;
		margin-bottom: 24px;
	}

	&__subtitle {
		font-size: 24px;
		line-height: 133%;
		color: #1b1a1a;
	}
	&:hover{
		.features-professional-accountant__img-message{
			opacity: 1;
		}
	}
	@media(max-width: 950px){
		&__content{
			margin: 0 auto;
			max-width: 100%;
			text-align: center;
		}
		}
	@media(max-width: 550px){
		&__title{
			font-size: 32px;

		}
		&__subtitle{
			font-size: 16px;
		}
	}
}
.features-unlimited-invoicing {
	
	grid-column: span 2;
	background: #f0fa6a;
	padding-top: 80px;
	padding-left: 74px;
	&__content{
		max-width: 1080px;
		margin: 0 auto;
	}
	&__title {
		font-size: 80px;
		line-height: 110%;
		text-align: center;
		margin-bottom: 24px;
	}

	&__subtitle {
		font-size: 24px;
		line-height: 133%;
		text-align: center;
		color: #1b1a1a;
		margin-bottom: 107px;
	}
	
	&__body{
		display: flex;
		justify-content: space-between;
	}

	&__radios{

	}

	&__img{
		max-width: 732px;
		width: 100%;
		border: 6px solid black;
		border-radius: 46px;
		overflow: hidden;
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	@media(max-width: 950px){
		grid-column: span 1;
		padding: 48px 28px;
		&__body{
			justify-content: center;
		}
	}
	@media(max-width: 700px){
		&__title{
			font-size: 60px;
			line-height: 120%;
		}
		&__subtitle{
			font-size: 26px;
			line-height: 150%;
			margin-bottom: 60px;
		}
	}
	@media(max-width: 550px){
		&__title{
			font-size: 40px;

		}
		&__subtitle{
			font-size: 16px;
		}
	}
}

.features-radios {
	max-width: 350px;
	margin-right: 20px;
	&__form {

	&_radio {
		margin-bottom: 32px;

		input[type=radio]{
			display: none;
		}

		label{
			display: inline-block;
			cursor: pointer;
			position: relative;
			padding-left: 67px;
			margin-right: 0;
			line-height: 18px;
			user-select: none;
			font-size: 32px;
			line-height: 125%;
		}

		label::before{
			content: "";
			display: inline-block;
			width: 47px;
			height: 47px;
			border: 3px solid #000;
			border-radius: 50%;
			position: absolute;
			left: 0;
			top: 0;
		
		}
		label::after{
			content: "";
			display: inline-block;
			width: 36px;
			height: 36px;
			border-radius: 50%;
			background-color: #000000;
			position: absolute;
			left: 8px;
			top: 8px;
			opacity: 0;
			transition: all 0.3s;
		}
			
		input[type=radio]:checked + label::after {
			opacity: 1;
		}
		input[type=radio]:hover + label::before {
			background-color: #0000001a;
		}
		}
	}
	@media(max-width: 950px){
		display: none;
	}
}

//packages
.packages {
	background: #e8e8e8;
	border-radius: 100px;
	padding: 100px 0;
	margin-bottom: 180px;
	&__wrapper {
	}

	&__title {
		font-size: 80px;
		line-height: 110%;
		text-align: center;
		margin-bottom: 48px;
	}

	&__btns {
		margin-bottom: 64px;
	}

	&__cards {
		margin-bottom: 48px;
		display: flex;
	}

	&__extra {
		margin-bottom: 48px;
		border: 4px solid rgba(0, 0, 0, 0.16);
		border-radius: 40px;
		padding: 40px;
	}

	&__extra-title {
		font-size: 40px;
		line-height: 120%;
		margin-bottom: 16px;
	}

	&__extra-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		
	}

	&__extra-item {
		font-size: 20px;
		line-height: 140%;
		position: relative;
		padding-left: 24px;
		margin-bottom: 10px;
		max-width: 400px;
		margin-left: 10px;
		&::after{
			content: '';
			position: absolute;
			top: 8px;
			left: 0;
			width: 12px;
			height: 12px;
			background-color: #ff559c;
			border-radius: 50%;
		}
	}

	&__help {
		background: rgba(0, 0, 0, 0.04);
		border-radius: 40px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 65px 88px;
	}

	&__help-title {
		font-size: 40px;
		line-height: 120%;
		text-align: center;
		margin-bottom: 24px;
	}

	&__help-btn {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 25px 0;
		border-radius: 20px;
		background: #000;
		font-size: 24px;
		line-height: 133%;
		text-align: center;
		color: #fff;
		width: 100%;
		max-width: 330px;
		transition: all 0.3s;
		cursor: pointer;

		&:hover{
			background-color: #201f1f;
		}
	}

	@media(max-width:1200px){
		&__title{
			font-size: 60px;
		}
	}
	@media(max-width:800px){
		border-radius: 40px;
		margin-bottom: 120px;
		&__title{
			font-size: 42px;
			margin-bottom: 24px;
		}
		&__help{
			padding: 40px;
		}
		&__help-title{
			font-size: 24px;
		}
	}
	@media(max-width:600px){
		border-radius: 25px;
		padding: 56px 0;
		&__title{
			font-size: 32px;
		}
		&__extra-title {
			font-size: 24px;
		}
	}
	@media(max-width:900px){
		&__btns{
			margin-bottom: 44px;
		}
		&__cards{
			flex-direction: column;
		}
		
	}
}
.packages-btns {
	&__header {
		display: flex;
		margin-bottom: 24px;
	}

	&__header-item {
		cursor: pointer;
		width: 25%;
		padding: 24px 0;
		text-align: center;
		border-radius: 80px;
		border: none;
		transition: all 0.5s;
		margin: 0 4px;
		background-color: white;
		&:hover{
			background: #ff559c;
			color: white;
		}
	}

	&__footer {
		display: flex;
		height: 80px;
		background-color: white;
		border-radius: 80px;
	}

	&__footer-item {
		height: 100%;
		width: 50%;
		border-radius: 80px;
		border: none;
		background-color: white;
		transition: all 0.5s;
		&:hover{
			background: #ff559c;
			color: white;
		}
	}
	&__accordeon-btn{
		display: none;
		border-radius: 80px;
		padding: 18px 10px;
		width: 100%;
		font-size: 16px;
		line-height: 150%;
		text-align: center;
		color: #1b1a1a;
		margin-bottom: 16px;
	}
	
	@media(max-width:700px){
		&__header{
			display: none;
		}
		&__footer{
			height: 60px;
		}
		&__accordeon-btn{
			display: block;
		}
	}
}

.packages-card {
	background: #fff;
	border-radius: 32px;
	padding: 32px;
	border: 8px solid #e8e8e8;
	transition: all 0.3s;
	width: 33.33%;
	margin: 0 10px;
	&:hover{
		border: 8px solid #ff559c;
	}
	&__title {
		font-size: 40px;
		line-height: 120%;
	}

	&__price {
		font-weight: 700;
		font-size: 40px;
		line-height: 120%;
		margin-bottom: 16px;
	}

	&__subtitle {
		font-size: 16px;
		line-height: 150%;
		color: rgba(0, 0, 0, 0.64);
		margin-bottom: 48px;
	}

	&__tabs {
		margin-bottom: 55px;
		li{
			position: relative;
			padding: 6px 0;
		}
		li::after{
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 1px;
			background-color: rgba(0, 0, 0, 0.16);

		}
	}

	&__tabs-documents {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__tabs-documents-btn-wrapper{
		display: flex;
		div{
			border-radius: 8px;
			padding: 4px;
			width: 28px;
			height: 32px;
			font-size: 16px;
			line-height: 150%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	&__tabs-documents-btn-black{
		background: #000;
		color: white;
		margin-right: 6px;
	}
	&__tabs-documents-btn-white{
		border: 1px solid rgba(0, 0, 0, 0.24);
		color: #0000005d;
	}
	&__tabs-item {
	}

	&__btn {
		width: 100%;
		padding: 25px 0;
		background-color: #000;
		border-radius: 20px;
		color: white;
		font-weight: 600;
		font-size: 24px;
		line-height: 133%;
		text-align: center;
		cursor: pointer;
		transition: all 0.3s;
		&:hover{
			background-color: #201f1f;
		}
	}

	@media(max-width:1100px){
		&__title{
			font-size: 24px;
		}
		&__price{
			font-size: 24px;
		}
	}
	@media(max-width:900px){
		width: 100%;

	}
}
.packages-card-tab {

	&__header {
		display: flex;
		justify-content: space-between;
		margin-bottom: 6px;
	}

	&__title {
		font-size: 16px;
		line-height: 150%;
	}

	&__btn {
		background-color: inherit;
		border: none;
		cursor: pointer;
	}

	&__body {
		font-size: 12px;
		line-height: 133%;
		color: rgba(0, 0, 0, 0.64);
	}
}

//tools
.tools-subscription {
margin-bottom: 180px;
	&__wrapper {
	}

	&__title {
		font-size: 80px;
		line-height: 110%;
		text-align: center;
		color: #fff;
		margin-bottom: 48px;
	}

	&__columns {
		display: flex;
	}

	&__item {
		position: relative;
		overflow: hidden;
		border-radius: 32px;
		padding: 20px;
		margin: 0 16px;
		width: 33.33%;
		// border: 1px solid white;
		z-index: 5;
	}

	&__item-content{
		position: relative;
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
		z-index: 2;
	}
	&__item-title {
		font-size: 56px;
		line-height: 114%;
		margin-bottom: 40px;
	}

	&__item-img {
		max-width: 250px;
		margin-left: auto;
		margin-top: auto;
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	@media(max-width:1100px){
		&__item-title{
			font-size: 24px;
		}
	}
	@media(max-width:700px){
		&__title{
			font-size: 40px;
		}
		&__columns{
			flex-direction: column;
			align-items: center;
		}
		&__item{
			width: 100%;
			margin-bottom: 20px;
		}
	}
}

.tools-subscription-decoration {
	&__red {
		position: absolute;
		top: -200px;
		left: -200px;
		background-color: #FF5050;
		width: 572px;
		height: 572px;
		border-radius: 50%;
		filter: blur(50px);
		z-index: 1;
	}

	&__yelow {
		position: absolute;
		bottom: -200px;
		right: -200px;
		background-color: #E2FF30;
		width: 572px;
		height: 572px;
		border-radius: 50%;
		filter: blur(50px);
		z-index: 1;
	}
	&__blue{
		position: absolute;
		top: 0;
		left: -57px;
		background-color: #FF559C;
		width: 451px;
		height: 451px;
		border-radius: 50%;
		filter: blur(60px);
		z-index: 1;
	}
	&__green{
		position: absolute;
		bottom: -37px;
		right: -155px;
		background-color: #AAEB57;
		width: 451px;
		height: 451px;
		border-radius: 50%;
		filter: blur(100px);
		z-index: 1;
	}
	&__green2{
		position: absolute;
		top: -200px;
		left: -200px;
		background-color: #AAEB57;
		width: 572px;
		height: 572px;
		border-radius: 50%;
		filter: blur(50px);
		z-index: 1;

	}
	&__blue2{
		position: absolute;
		bottom: -200px;
		right: -200px;
		background-color: #3EDCFF;
		width: 572px;
		height: 572px;
		border-radius: 50%;
		filter: blur(50px);
		z-index: 1;
	}
}

// trust-reasons

.trust-reasons {
	margin-bottom: 280px;
	&__title {
		font-size: 80px;
		line-height: 110%;
		text-align: center;
		color: #fff;
		margin-bottom: 40px;
	}

	&__icons {
		display: flex;
		margin-bottom: 40px;
		margin-left: -10px;
		margin-right: -10px;
		li{
			width: 25%;
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 10px;
		}
	
	}

	&__icon {
		img{
			width: 100%;
			height: 100%;
		}
	}

	&__text {
		font-size: 16px;
		line-height: 150%;
		text-align: center;
		color: rgba(255, 255, 255, 0.64);
	}

	&__carusel {
		margin-bottom: 170px;
	}

	&__more-clients {
	}
	@media(max-width:700px){
		&__icons {
			flex-wrap: wrap;
			
			li{
				width: 50%;
			}
		
		}
	}

}

.trust-carusel {

	&__carusel-item {
		padding: 40px;
		background-color: rgba(255, 255, 255, 0.1);
		border-radius: 40px;
	}

	&__info {
		display: flex;
		align-items: center;
		font-size: 24px;
		line-height: 133%;
		color: #fff;
	}

	&__icon{
		margin-right: 16px;
	}
	&__name {

	}

	&__prof {
		font-weight: 700;
	}

	&__text {
		font-size: 24px;
		line-height: 133%;
		color: #fff;
	}
}
.trust-more-clients {
	background: #323131;
	border-radius: 240px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 20px 20px 60px;
	&__text {
		position: relative;
		font-size: 40px;
		line-height: 120%;
		color: #fff;
		max-width: 350px;
		span{
			font-weight: 700;
		}
	}

	&__btn {
		border-radius: 240px;
		background-color: white;
		padding: 40px 63px;
		font-weight: 600;
		font-size: 32px;
		line-height: 125%;
		text-align: center;
		max-width: 300px;
	}
	@media(max-width:700px){
		display: none;
	}
}

.trust-more-clients-decor {

	&__pink-circle {
		position: absolute;
		top: -96px;
		left: -24px;  
		border-radius: 50%;
		background-color: #FF559C;
		width: 88px;
		height: 88px;
	}

	&__green-circle {
		position: absolute;
		top: -66px;
		left: 281px;
		border-radius: 50%;
		background-color: #AAEB57;
		width: 37px;
		height: 37px;
	}

	&__orange-square {
		position: absolute;
		top: 0;
		right: -89px;
		border-radius: 16px;
		background-color: #FF5050;
		transform: rotate(16deg);
		width: 67px;
		height: 67px;
	}

	&__yellow-square {
		position: absolute;
		bottom: -157px;
		right: 102px;
		border-radius: 16px;
		width: 109px;
		height: 109px;
		background: #e2ff30;
		transform: rotate(-26deg);
	}

	&__blue-line {
		position: absolute;
		bottom: -55px;
		right: 91px;
		border-radius: 3px;
		width: 220px;
		height: 8px;
		background: #3edcff;
		transform: rotate(17deg);
	}
}
