@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
/* Обнуление стилей */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ol, ul {
  list-style: none;
}

input, button, textarea, select {
  font: inherit;
}

body {
  background-color: #000000;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

.container-header {
  max-width: 1300px;
  padding: 0 20px;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 100px;
}
.header__logo {
  cursor: pointer;
}
@media (max-width: 700px) {
  .header__menu {
    display: none;
  }
}
.header .header-menu__list {
  display: flex;
  font-weight: 600;
  font-size: 15px;
}
.header .header-menu__list li:not(:last-child) {
  margin-right: 2px;
}
.header .header-menu__link {
  color: #fff;
  border-radius: 8px;
  padding: 6px 16px;
  transition: all 0.3s;
}
.header .header-menu__link:hover {
  background: white;
  color: #000;
}
.header .header-menu__link:active {
  background: #8b8787;
  color: #000;
}
@media (max-width: 770px) {
  .header .header-menu__link {
    padding: 6px 10px;
  }
}

.burger-menu {
  width: 30px;
  height: 20px;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  display: none;
  position: relative;
  z-index: 1;
}

@media (max-width: 700px) {
  .burger-menu {
    display: flex;
  }
}
.bar {
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  transition: transform 0.3s ease;
}

.burger-menu.open .bar:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.burger-menu.open .bar:nth-child(2) {
  opacity: 0;
}

.burger-menu.open .bar:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

.mobile-menu {
  display: none;
  position: fixed;
  top: 60px;
  left: 1000px;
  width: 200px;
  height: 100%;
  transition: all 0.3s ease;
  background-color: #000;
  width: 100%;
}
.mobile-menu__list {
  font-weight: 600;
  font-size: 20px;
}
.mobile-menu__item {
  margin-bottom: 10px;
}
.mobile-menu__link {
  color: #fff;
  padding: 6px 16px;
}
.mobile-menu__link:active {
  background: #8b8787;
  color: #000;
}
@media (max-width: 700px) {
  .mobile-menu {
    display: block;
  }
}

.burger-menu.open + .mobile-menu {
  left: 0; /* open the menu by sliding it to the right */
}

.main {
  margin-bottom: 134px;
}
.main__wrapper {
  display: flex;
}
.main__content {
  max-width: 603px;
}
.main__title {
  font-weight: 600;
  font-size: 100px;
  line-height: 100%;
  color: #fff;
  margin-bottom: 36px;
}
.main__subtitle {
  font-weight: 400;
  font-size: 32px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 48px;
}
.main__btn {
  cursor: pointer;
  font-weight: 600;
  font-size: 40px;
  text-align: center;
  color: #fff;
  border-radius: 23px;
  padding: 20px 50px 24px 50px;
  width: 289px;
  height: 100px;
  background: #ff559c;
  transition: all 0.3s;
}
.main__btn:hover {
  background: #f976ad;
}
.main__btn:active {
  background: #8b395c;
}
.main__img {
  display: none;
  width: 100%;
}
.main__img img {
  width: 100%;
  height: 100%;
}
.main__img-animation {
  width: 800px;
  height: 500px;
  position: relative;
}
.main__img-animation img {
  position: absolute;
  width: 100%;
  height: 100%;
}
@media (max-width: 1200px) {
  .main__title {
    font-weight: 600;
    font-size: 80px;
    line-height: 100%;
    color: #fff;
    margin-bottom: 36px;
  }
  .main__btn {
    font-size: 30px;
  }
}
@media (max-width: 900px) {
  .main__wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
  .main__title {
    text-align: center;
  }
  .main__subtitle {
    text-align: center;
  }
  .main__btn {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .main__img {
    display: block;
  }
  .main__img-animation {
    display: none;
  }
}
@media (max-width: 600px) {
  .main__wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
  .main__title {
    font-size: 48px;
  }
  .main__subtitle {
    font-size: 16px;
  }
  .main__btn {
    padding: 30px 40px;
    font-size: 24px;
  }
}

.main-img__page1 {
  animation-name: page1;
  animation-duration: 1.5s;
  opacity: 0;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.main-img__page2 {
  opacity: 0;
  animation-name: page2;
  animation-duration: 1.5s;
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.main-img__page3 {
  opacity: 0;
  animation-name: page3;
  animation-duration: 1.5s;
  animation-delay: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes page1 {
  from {
    top: 0px;
    left: 200px;
    width: 0;
    opacity: 1;
    transform: rotate(-365deg);
  }
  to {
    opacity: 1;
    top: -122px;
    left: 100px;
    width: 100%;
    transform: rotate(0deg);
  }
}
@keyframes page2 {
  from {
    opacity: 1;
    top: 0;
    left: 150px;
    width: 0;
    transform: rotate(-365deg);
  }
  to {
    opacity: 1;
    top: -76px;
    left: 287px;
    width: 100%;
    transform: rotate(0deg);
  }
}
@keyframes page3 {
  from {
    opacity: 1;
    top: 0;
    left: 50px;
    width: 0;
    transform: rotate(-365deg);
  }
  to {
    opacity: 1;
    top: 120px;
    left: 300px;
    width: 100%;
    transform: rotate(0deg);
  }
}
.features {
  margin-bottom: 180px;
}
.features__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: 500px 500px;
  gap: 32px;
}
.features__item {
  border-radius: 48px;
}
@media (max-width: 950px) {
  .features__wrapper {
    grid-template-columns: 1fr;
  }
}

.features-upload {
  grid-column: span 2;
  background: linear-gradient(180deg, #7aefff 0%, #7affbf 100%);
  padding-top: 77px;
  padding-left: 24px;
  padding-right: 24px;
  text-align: center;
  overflow: hidden;
}
.features-upload__content {
  max-width: 900px;
  margin: 0 auto;
}
.features-upload__title {
  font-size: 80px;
  line-height: 110%;
  text-align: center;
  margin-bottom: 16px;
}
.features-upload__subtitle {
  font-size: 24px;
  line-height: 133%;
  text-align: center;
  color: #1b1a1a;
  margin-bottom: 88px;
}
.features-upload__img {
  position: relative;
  margin: 0 auto;
  margin-bottom: -4px;
  height: 695px;
}
.features-upload__img .phone {
  position: absolute;
  bottom: 0;
  right: -33px;
  width: 282px;
  height: 415px;
  animation-name: feature-phone;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.features-upload__img img {
  width: 100%;
  height: 100%;
}
@media (max-width: 950px) {
  .features-upload {
    grid-column: span 1;
  }
}
@media (max-width: 700px) {
  .features-upload__title {
    font-size: 60px;
    line-height: 120%;
  }
  .features-upload__subtitle {
    font-size: 26px;
    line-height: 150%;
    margin-bottom: 60px;
  }
}
@media (max-width: 550px) {
  .features-upload__title {
    font-size: 40px;
  }
  .features-upload__subtitle {
    font-size: 16px;
  }
}

@keyframes feature-phone {
  from {
    transform: rotate(-10deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.features-types {
  background: #ff8db6;
  padding: 48px 48px 0 48px;
}
.features-types__content {
  max-width: 390px;
}
.features-types__title {
  font-size: 56px;
  line-height: 114%;
  margin-bottom: 24px;
}
.features-types__subtitle {
  font-size: 24px;
  line-height: 133%;
  color: #1b1a1a;
}
.features-types__img {
  margin-left: -70px;
  margin-bottom: -67px;
}
.features-types__img img {
  width: 100%;
  height: 100%;
}
@media (max-width: 950px) {
  .features-types__content {
    margin: 0 auto;
    max-width: 100%;
    text-align: center;
  }
}
@media (max-width: 550px) {
  .features-types__title {
    font-size: 32px;
  }
  .features-types__subtitle {
    font-size: 16px;
  }
}

.features-professional-accountant {
  background: #8be2ee;
  padding: 48px;
}
.features-professional-accountant__img {
  position: relative;
  margin-bottom: 47px;
  max-width: 307px;
  width: 100%;
  margin: 0 auto;
}
.features-professional-accountant__img img {
  width: 100%;
  height: 100%;
}
.features-professional-accountant__img-message {
  position: absolute;
  top: -125px;
  left: -78px;
  opacity: 0;
  transition: all 0.5s;
}
.features-professional-accountant__content {
  max-width: 460px;
}
.features-professional-accountant__title {
  font-size: 56px;
  line-height: 114%;
  margin-bottom: 24px;
}
.features-professional-accountant__subtitle {
  font-size: 24px;
  line-height: 133%;
  color: #1b1a1a;
}
.features-professional-accountant:hover .features-professional-accountant__img-message {
  opacity: 1;
}
@media (max-width: 950px) {
  .features-professional-accountant__content {
    margin: 0 auto;
    max-width: 100%;
    text-align: center;
  }
}
@media (max-width: 550px) {
  .features-professional-accountant__title {
    font-size: 32px;
  }
  .features-professional-accountant__subtitle {
    font-size: 16px;
  }
}

.features-unlimited-invoicing {
  grid-column: span 2;
  background: #f0fa6a;
  padding-top: 80px;
  padding-left: 74px;
}
.features-unlimited-invoicing__content {
  max-width: 1080px;
  margin: 0 auto;
}
.features-unlimited-invoicing__title {
  font-size: 80px;
  line-height: 110%;
  text-align: center;
  margin-bottom: 24px;
}
.features-unlimited-invoicing__subtitle {
  font-size: 24px;
  line-height: 133%;
  text-align: center;
  color: #1b1a1a;
  margin-bottom: 107px;
}
.features-unlimited-invoicing__body {
  display: flex;
  justify-content: space-between;
}
.features-unlimited-invoicing__img {
  max-width: 732px;
  width: 100%;
  border: 6px solid black;
  border-radius: 46px;
  overflow: hidden;
}
.features-unlimited-invoicing__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 950px) {
  .features-unlimited-invoicing {
    grid-column: span 1;
    padding: 48px 28px;
  }
  .features-unlimited-invoicing__body {
    justify-content: center;
  }
}
@media (max-width: 700px) {
  .features-unlimited-invoicing__title {
    font-size: 60px;
    line-height: 120%;
  }
  .features-unlimited-invoicing__subtitle {
    font-size: 26px;
    line-height: 150%;
    margin-bottom: 60px;
  }
}
@media (max-width: 550px) {
  .features-unlimited-invoicing__title {
    font-size: 40px;
  }
  .features-unlimited-invoicing__subtitle {
    font-size: 16px;
  }
}

.features-radios {
  max-width: 350px;
  margin-right: 20px;
}
.features-radios__form_radio {
  margin-bottom: 32px;
}
.features-radios__form_radio input[type=radio] {
  display: none;
}
.features-radios__form_radio label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 67px;
  margin-right: 0;
  line-height: 18px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 32px;
  line-height: 125%;
}
.features-radios__form_radio label::before {
  content: "";
  display: inline-block;
  width: 47px;
  height: 47px;
  border: 3px solid #000;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
}
.features-radios__form_radio label::after {
  content: "";
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #000000;
  position: absolute;
  left: 8px;
  top: 8px;
  opacity: 0;
  transition: all 0.3s;
}
.features-radios__form_radio input[type=radio]:checked + label::after {
  opacity: 1;
}
.features-radios__form_radio input[type=radio]:hover + label::before {
  background-color: rgba(0, 0, 0, 0.1019607843);
}
@media (max-width: 950px) {
  .features-radios {
    display: none;
  }
}

.packages {
  background: #e8e8e8;
  border-radius: 100px;
  padding: 100px 0;
  margin-bottom: 180px;
}
.packages__title {
  font-size: 80px;
  line-height: 110%;
  text-align: center;
  margin-bottom: 48px;
}
.packages__btns {
  margin-bottom: 64px;
  display: none;
}
.packages__cards {
  margin-bottom: 48px;
  display: flex;
}
.packages__extra {
  margin-bottom: 48px;
  border: 4px solid rgba(0, 0, 0, 0.16);
  border-radius: 40px;
  padding: 40px;
}
.packages__extra-title {
  font-size: 40px;
  line-height: 120%;
  margin-bottom: 16px;
}
.packages__extra-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.packages__extra-item {
  font-size: 20px;
  line-height: 140%;
  position: relative;
  padding-left: 24px;
  margin-bottom: 10px;
  max-width: 400px;
  margin-left: 10px;
}
.packages__extra-item::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 12px;
  height: 12px;
  background-color: #ff559c;
  border-radius: 50%;
}
.packages__help {
  background: rgba(0, 0, 0, 0.04);
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 65px 88px;
}
.packages__help-title {
  font-size: 40px;
  line-height: 120%;
  text-align: center;
  margin-bottom: 24px;
}
.packages__help-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 0;
  border-radius: 20px;
  background: #000;
  font-size: 24px;
  line-height: 133%;
  text-align: center;
  color: #fff;
  width: 100%;
  max-width: 330px;
  transition: all 0.3s;
  cursor: pointer;
}
.packages__help-btn:hover {
  background-color: #201f1f;
}
@media (max-width: 1200px) {
  .packages__title {
    font-size: 60px;
  }
}
@media (max-width: 800px) {
  .packages {
    border-radius: 40px;
    margin-bottom: 120px;
  }
  .packages__title {
    font-size: 42px;
    margin-bottom: 24px;
  }
  .packages__help {
    padding: 40px;
  }
  .packages__help-title {
    font-size: 24px;
  }
}
@media (max-width: 600px) {
  .packages {
    border-radius: 25px;
    padding: 56px 0;
  }
  .packages__title {
    font-size: 32px;
  }
  .packages__extra-title {
    font-size: 24px;
  }
}
@media (max-width: 900px) {
  .packages__btns {
    margin-bottom: 44px;
  }
  .packages__cards {
    display: none;
  }
}

.packages-btns__header {
  display: flex;
  margin-bottom: 24px;
}
.packages-btns__header-item {
  cursor: pointer;
  width: 25%;
  padding: 24px 0;
  text-align: center;
  border-radius: 80px;
  border: none;
  transition: all 0.5s;
  margin: 0 4px;
  background-color: white;
}
.packages-btns__header-item:hover {
  background: #ff559c;
  color: white;
}
.packages-btns__footer {
  display: flex;
  height: 80px;
  background-color: white;
  border-radius: 80px;
}
.packages-btns__footer-item {
  height: 100%;
  width: 50%;
  border-radius: 80px;
  border: none;
  background-color: white;
  transition: all 0.5s;
}
.packages-btns__footer-item:hover {
  background: #ff559c;
  color: white;
}
.packages-btns__accordeon-btn {
  display: none;
  border-radius: 80px;
  padding: 18px 10px;
  width: 100%;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #1b1a1a;
  margin-bottom: 16px;
}
@media (max-width: 700px) {
  .packages-btns__header {
    display: none;
  }
  .packages-btns__footer {
    height: 60px;
  }
  .packages-btns__accordeon-btn {
    display: block;
  }
}

.packages-card {
  background: #fff;
  border-radius: 32px;
  padding: 32px;
  border: 8px solid #e8e8e8;
  transition: all 0.3s;
  width: 33.33%;
  margin: 0 10px;
}
.packages-card:hover {
  border: 8px solid #ff559c;
}
.packages-card__title {
  font-size: 40px;
  line-height: 120%;
}
.packages-card__price {
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  margin-bottom: 16px;
}
.packages-card__subtitle {
  font-size: 16px;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.64);
  margin-bottom: 48px;
}
.packages-card__tabs {
  margin-bottom: 55px;
}
.packages-card__tabs li {
  position: relative;
  padding: 6px 0;
}
.packages-card__tabs li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.16);
}
.packages-card__tabs-documents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.packages-card__tabs-documents-btn-wrapper {
  display: flex;
}
.packages-card__tabs-documents-btn-wrapper div {
  border-radius: 8px;
  padding: 4px;
  width: 28px;
  height: 32px;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.packages-card__tabs-documents-btn-black {
  background: #000;
  color: white;
  margin-right: 6px;
}
.packages-card__tabs-documents-btn-white {
  border: 1px solid rgba(0, 0, 0, 0.24);
  color: rgba(0, 0, 0, 0.3647058824);
}
.packages-card__btn {
  width: 100%;
  padding: 25px 0;
  background-color: #000;
  border: 1px solid #000;
  border-radius: 20px;
  color: white;
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
}
.packages-card__btn:hover {
  background-color: rgba(173, 81, 129, 0.82);
  border: 1px solid rgba(173, 81, 129, 0.82);
}
@media (max-width: 1100px) {
  .packages-card__title {
    font-size: 24px;
  }
  .packages-card__price {
    font-size: 24px;
  }
}
@media (max-width: 900px) {
  .packages-card {
    width: 100%;
  }
}

.packages-card-tab {
  cursor: pointer;
}
.packages-card-tab__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}
.packages-card-tab__title {
  font-size: 16px;
  line-height: 150%;
}
.packages-card-tab__btn {
  background-color: inherit;
  border: none;
  cursor: pointer;
}
.packages-card-tab__body {
  font-size: 12px;
  line-height: 133%;
  color: rgba(0, 0, 0, 0.64);
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s;
}

.packages-card-tab._active .packages-card-tab__body {
  max-height: 1000px;
}

.packagesSwiper .swiper-button-next, .swiper-button-prev {
  position: relative;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 32px;
  width: 56px;
  height: 56px;
  margin: 0 20px;
}

.swiper-button-next::after {
  font-size: 0;
}

.swiper-button-prev::after {
  display: none;
}

.swiper-arrows {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  margin-bottom: 40px;
}

.packagesSwiper {
  display: none;
}
@media (max-width: 900px) {
  .packagesSwiper {
    display: block;
  }
}

.tools-subscription {
  margin-bottom: 180px;
}
.tools-subscription__title {
  font-size: 80px;
  line-height: 110%;
  text-align: center;
  color: #fff;
  margin-bottom: 48px;
}
.tools-subscription__columns {
  display: flex;
}
.tools-subscription__item {
  position: relative;
  overflow: hidden;
  border-radius: 32px;
  padding: 20px;
  margin: 0 16px;
  width: 33.33%;
  z-index: 5;
}
.tools-subscription__item-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.tools-subscription__item-title {
  font-size: 56px;
  line-height: 114%;
  margin-bottom: 40px;
}
.tools-subscription__item-img {
  max-width: 250px;
  margin-left: auto;
  margin-top: auto;
}
.tools-subscription__item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1100px) {
  .tools-subscription__item-title {
    font-size: 24px;
  }
}
@media (max-width: 700px) {
  .tools-subscription__title {
    font-size: 40px;
  }
  .tools-subscription__columns {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 900px) {
  .tools-subscription__columns {
    display: none;
  }
  .tools-subscription__item {
    width: 90%;
    height: 500px;
  }
  .tools-subscription__item-title {
    font-size: 40px;
    line-height: 120%;
    max-width: 300px;
  }
}

.tools-subscription-decoration__red {
  position: absolute;
  top: -200px;
  left: -200px;
  background-color: #FF5050;
  width: 572px;
  height: 572px;
  border-radius: 50%;
  filter: blur(50px);
  z-index: 1;
  animation-name: red-circle;
  animation-duration: 10s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@keyframes red-circle {
  from {
    left: -250px;
    background-color: #FF5050;
  }
  to {
    left: 20px;
    background-color: #b51e1e;
  }
}
.tools-subscription-decoration__yelow {
  position: absolute;
  bottom: -200px;
  right: -200px;
  background-color: #E2FF30;
  width: 572px;
  height: 572px;
  border-radius: 50%;
  filter: blur(50px);
  z-index: 1;
  animation-name: yellow-circle;
  animation-duration: 10s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@keyframes yellow-circle {
  from {
    background-color: #E2FF30;
    right: -200px;
    bottom: -200px;
  }
  to {
    background-color: rgba(96, 255, 99, 0.8117647059);
    right: 70px;
    bottom: 10px;
  }
}
.tools-subscription-decoration__blue {
  position: absolute;
  top: 0;
  left: -57px;
  background-color: #FF559C;
  width: 451px;
  height: 451px;
  border-radius: 50%;
  filter: blur(60px);
  z-index: 1;
  animation-name: blue-circle;
  animation-duration: 10s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@keyframes blue-circle {
  from {
    background-color: #FF559C;
    top: 0;
    left: -57px;
    width: 451px;
    height: 451px;
  }
  to {
    background-color: #bb5c84;
    top: 60px;
    left: 0px;
    width: 851px;
    height: 951px;
  }
}
.tools-subscription-decoration__green {
  position: absolute;
  bottom: -37px;
  right: -155px;
  background-color: #AAEB57;
  width: 451px;
  height: 451px;
  border-radius: 50%;
  filter: blur(100px);
  z-index: 1;
  animation-name: green-circle;
  animation-duration: 10s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@keyframes green-circle {
  from {
    background-color: #AAEB57;
    bottom: -37px;
    right: -155px;
    width: 751px;
    height: 451px;
  }
  to {
    background-color: #6fa825;
    bottom: -37px;
    right: -155px;
    width: 151px;
    height: 151px;
  }
}
.tools-subscription-decoration__green2 {
  position: absolute;
  top: -200px;
  left: -200px;
  background-color: #AAEB57;
  width: 572px;
  height: 572px;
  border-radius: 50%;
  filter: blur(50px);
  z-index: 1;
  animation-name: green-circle2;
  animation-duration: 10s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@keyframes green-circle2 {
  from {
    background-color: #AAEB57;
    top: -200px;
    left: -200px;
    width: 572px;
    height: 572px;
  }
  to {
    background-color: #437ba5;
    top: 50px;
    left: 200px;
    width: 772px;
    height: 272px;
  }
}
.tools-subscription-decoration__blue2 {
  position: absolute;
  bottom: -200px;
  right: -200px;
  background-color: #3EDCFF;
  width: 572px;
  height: 572px;
  border-radius: 50%;
  filter: blur(50px);
  z-index: 1;
  animation-name: blue-circle2;
  animation-duration: 10s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@keyframes blue-circle2 {
  from {
    background-color: #3EDCFF;
    bottom: -200px;
    right: -200px;
    width: 572px;
    height: 572px;
  }
  to {
    background-color: #AAEB57;
    bottom: 10px;
    right: 200px;
    width: 172px;
    height: 772px;
  }
}

.swiper-button-next, .swiper-button-prev {
  position: relative;
  background-color: white;
  border-radius: 32px;
  width: 56px;
  height: 56px;
  margin: 0 20px;
}

.toolsSubscriptionSwiper {
  display: none;
}
@media (max-width: 900px) {
  .toolsSubscriptionSwiper {
    display: block;
  }
}

.trust-reasons {
  margin-bottom: 280px;
}
.trust-reasons__title {
  font-size: 80px;
  line-height: 110%;
  text-align: center;
  color: #fff;
  margin-bottom: 40px;
}
.trust-reasons__icons {
  display: flex;
  margin-bottom: 40px;
  margin-left: -10px;
  margin-right: -10px;
}
.trust-reasons__icons li {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.trust-reasons__icon img {
  width: 100%;
  height: 100%;
}
.trust-reasons__text {
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: rgba(255, 255, 255, 0.64);
}
.trust-reasons__carusel {
  margin-bottom: 170px;
}
@media (max-width: 700px) {
  .trust-reasons__icons {
    flex-wrap: wrap;
  }
  .trust-reasons__icons li {
    width: 50%;
  }
}

.trust-carusel__carusel-item {
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 40px;
}
.trust-carusel__info {
  display: flex;
  align-items: center;
  font-size: 24px;
  line-height: 133%;
  color: #fff;
}
.trust-carusel__icon {
  margin-right: 16px;
}
.trust-carusel__prof {
  font-weight: 700;
}
.trust-carusel__text {
  font-size: 24px;
  line-height: 133%;
  color: #fff;
}

.trust-arrows {
  justify-content: end;
}
@media (max-width: 900px) {
  .trust-arrows {
    justify-content: center;
  }
}

.trust-more-clients {
  background: #323131;
  border-radius: 240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 20px 60px;
}
.trust-more-clients__text {
  position: relative;
  font-size: 40px;
  line-height: 120%;
  color: #fff;
  max-width: 350px;
}
.trust-more-clients__text span {
  font-weight: 700;
}
.trust-more-clients__btn {
  border-radius: 240px;
  background-color: white;
  padding: 40px 63px;
  font-weight: 600;
  font-size: 32px;
  line-height: 125%;
  text-align: center;
  max-width: 300px;
  transition: all 0.3s;
  cursor: pointer;
}
.trust-more-clients__btn:hover {
  background-color: #b7aeae;
}
@media (max-width: 700px) {
  .trust-more-clients {
    display: none;
  }
}

.trust-more-clients-decor__main {
  position: absolute;
  top: -178px;
  left: -26px;
  width: 455px;
  height: 431px;
  border-radius: 50%;
  animation-name: clients-decor;
  animation-duration: 120s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@keyframes clients-decor {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(365deg);
  }
}
.trust-more-clients-decor__pink-circle {
  position: absolute;
  top: 75px;
  left: 0;
  border-radius: 50%;
  background-color: #FF559C;
  width: 88px;
  height: 88px;
}
.trust-more-clients-decor__green-circle {
  position: absolute;
  top: 100px;
  left: 281px;
  border-radius: 50%;
  background-color: #AAEB57;
  width: 37px;
  height: 37px;
}
.trust-more-clients-decor__orange-square {
  position: absolute;
  right: 0;
  bottom: 45%;
  border-radius: 16px;
  background-color: #FF5050;
  transform: rotate(16deg);
  width: 67px;
  height: 67px;
}
.trust-more-clients-decor__yellow-square {
  position: absolute;
  bottom: -32px;
  right: 102px;
  border-radius: 16px;
  width: 109px;
  height: 109px;
  background: #e2ff30;
  transform: rotate(-26deg);
}
.trust-more-clients-decor__blue-line {
  position: absolute;
  bottom: 0px;
  right: 91px;
  border-radius: 3px;
  width: 220px;
  height: 8px;
  background: #3edcff;
  transform: rotate(17deg);
}

.questions {
  margin-bottom: 180px;
}
.questions__title {
  font-size: 80px;
  line-height: 110%;
  text-align: center;
  color: #fff;
  margin-bottom: 45px;
}
@media (max-width: 700px) {
  .questions__title {
    font-size: 40px;
  }
}

.questions-acordeon__item {
  cursor: pointer;
  border-radius: 40px;
  padding: 40px;
  background: rgba(255, 255, 255, 0.1);
  margin-bottom: 20px;
}
.questions-acordeon__item.active .questions-acordeon__body {
  display: block;
}
.questions-acordeon__item.active .questions-acordeon__btn span::before {
  transform: rotate(0deg);
}
.questions-acordeon__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.questions-acordeon__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 125%;
  color: #fff;
  margin-right: 20px;
}
.questions-acordeon__btn {
  width: 60px;
  height: 60px;
  background-color: inherit;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.questions-acordeon__btn span {
  position: relative;
  display: block;
}
.questions-acordeon__btn span::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateX(-50%);
  width: 44px;
  height: 6px;
  background-color: #ffffff;
}
.questions-acordeon__btn span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -21px;
  transform: rotate(90deg);
  width: 44px;
  height: 6px;
  background-color: #ffffff;
  transition: all 0.3s;
}
.questions-acordeon__body {
  color: rgba(255, 255, 255, 0.8);
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s;
}
@media (max-width: 700px) {
  .questions-acordeon__title {
    font-size: 20px;
  }
}

.questions-acordeon__item._active .questions-acordeon__btn span::before {
  transform: rotate(0);
}

.questions-acordeon__item._active .questions-acordeon__body {
  margin-top: 30px;
  max-height: 1000px;
}

.read-more {
  margin-bottom: 70px;
}
.read-more__title {
  font-size: 80px;
  line-height: 110%;
  text-align: center;
  color: #fff;
  margin-bottom: 68px;
}
.read-more__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.read-more__item {
  height: auto;
}
.read-more__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 700px) {
  .read-more__title {
    font-size: 40px;
  }
  .read-more__grid {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
  }
  .read-more__item {
    min-width: 292px;
  }
}

.subscribe {
  margin-bottom: 180px;
}
.subscribe__wrapper {
  max-width: 620px;
  margin: 0 auto;
}
.subscribe__title {
  font-size: 40px;
  line-height: 120%;
  text-align: center;
  color: #fff;
  margin-bottom: 32px;
}
.subscribe__input {
  border: 2px solid rgba(255, 255, 255, 0.64);
  border-radius: 32px;
  height: 90px;
  padding: 10px 10px 10px 24px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.subscribe__input input {
  font-size: 24px;
  line-height: 133%;
  color: #fff;
  background: inherit;
  border: none;
  width: 100%;
}
.subscribe__input input:focus {
  outline-style: none;
}
.subscribe__btn {
  cursor: pointer;
  border-radius: 24px;
  padding: 0 53px;
  background-color: white;
  transition: all 0.4s;
}
.subscribe__btn:hover {
  background-color: rgb(107, 106, 106);
}
.subscribe__btn-mobil {
  display: none;
  cursor: pointer;
  border-radius: 24px;
  padding: 21px;
  width: 100%;
  background-color: white;
  height: 90px;
}
@media (max-width: 550px) {
  .subscribe__btn {
    display: none;
  }
  .subscribe__btn-mobil {
    display: block;
  }
}

.simplify-today {
  margin-bottom: 160px;
}
.simplify-today__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 48px;
  padding: 137px 20px;
  background: linear-gradient(133deg, #ff559c 0%, #fd57f4 20%, #ad59fa 40%, #5a5bf8 60%, #5caef5 80%, #5ef3ea 100%);
}
.simplify-today__title {
  font-size: 80px;
  line-height: 110%;
  text-align: center;
  color: #fff;
  margin-bottom: 40px;
  max-width: 800px;
}
.simplify-today__btn {
  font-weight: 600;
  font-size: 46px;
  line-height: 122%;
  text-align: center;
  color: #fff;
  background: #ff5693;
  border-radius: 30px;
  padding: 30px 40px;
  border: none;
  transition: all 0.3s;
  cursor: pointer;
}
.simplify-today__btn:hover {
  background: rgba(255, 86, 148, 0.537254902);
}
@media (max-width: 550px) {
  .simplify-today__title {
    font-size: 40px;
  }
  .simplify-today__btn {
    border-radius: 20px;
    padding: 20px;
    font-size: 24px;
    width: 100%;
  }
}

.footer {
  padding: 0 40px;
  font-size: 14px;
  line-height: 143%;
  color: #999;
  display: flex;
  display: none;
  justify-content: space-between;
}
.footer__icon {
  width: 50px;
  height: 24px;
}
.footer__icon img {
  width: 100%;
  height: 100%;
}
.footer ul {
  max-width: 400px;
}
.footer ul li {
  margin-bottom: 8px;
}
.footer ul h4 {
  font-weight: 600;
  font-size: 14px;
  line-height: 143%;
  color: #ddd;
  padding-bottom: 8px;
}

.element-animation {
  /* Скроем элемент в начальном состоянии */
  opacity: 0;
  transform: translateY(100px);
}

.element-animation.element-show {
  opacity: 1;
  transition: all 1s;
  transform: translateY(0);
}